<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <SelectedType>Class</SelectedType>
  <RecentFolders>
    <Folder>/Users/Ulle/Programmierung/UllesSourceCode/CodeCreator</Folder>
    <Folder>/Users/Ulle/Programmierung/UllesSourceCode/CodeCreatorTest</Folder>
  </RecentFolders>
  <SelectedFolder>/Users/Ulle/Programmierung/UllesSourceCode/CodeCreator</SelectedFolder>
  <AbstractFactory>
    <AbstractFactory>BurgerShop</AbstractFactory>
    <ConcreteFactories>
      <Line>BurgerKing</Line>
      <Line>MacDonald</Line>
      <Line>Wendy</Line>
    </ConcreteFactories>
    <Products>
      <Interface>
        <Name>CheeseBurger</Name>
        <ToImplement>true</ToImplement>
      </Interface>
      <Interface>
        <Name>Fries</Name>
        <ToImplement>true</ToImplement>
        <Method>
          <Type>0</Type>
          <DeclarationType>0</DeclarationType>
          <Name>doSomething</Name>
          <ReturnType>void</ReturnType>
        </Method>
      </Interface>
    </Products>
  </AbstractFactory>
  <Class>
    <Name>Test</Name>
    <BaseClass></BaseClass>
    <ConstructorDeclaration>1</ConstructorDeclaration>
    <DestructorDeclaration>1</DestructorDeclaration>
    <CopyConstructorDeclaration>0</CopyConstructorDeclaration>
    <CopyOperatorDeclaration>0</CopyOperatorDeclaration>
    <MoveConstructorDeclaration>0</MoveConstructorDeclaration>
    <MoveOperatorDeclaration>0</MoveOperatorDeclaration>
    <SingletonType>0</SingletonType>
    <DPointerType>0</DPointerType>
    <QObjectMacro>false</QObjectMacro>
    <VirtualDestructor>false</VirtualDestructor>
    <ExplicitConstructor>false</ExplicitConstructor>
    <Namespaces>
      <Line></Line>
    </Namespaces>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <Interfaces/>
    <Members>
      <Member>
        <Type>int</Type>
        <Name>test</Name>
        <DefaultValue>8</DefaultValue>
        <DeclarationType>2</DeclarationType>
        <Getter>true</Getter>
        <Setter>true</Setter>
      </Member>
    </Members>
  </Class>
  <Decorator>
    <Component>Component</Component>
    <Decorator>Decorator2</Decorator>
    <Interface>
      <Name>ComponentI</Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateComponent>true</CreateComponent>
    <CreateDecorator>true</CreateDecorator>
    <CreateInterface>true</CreateInterface>
  </Decorator>
  <Generator>
    <Name>AbstractFactory</Name>
  </Generator>
  <Interface>
    <Name></Name>
    <Prefix>false</Prefix>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
  </Interface>
  <Observer>
    <Subject>Subject</Subject>
    <Observer>Observer</Observer>
    <Observers>
      <Line>observer</Line>
    </Observers>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateSubject>false</CreateSubject>
    <CreateObserver>true</CreateObserver>
    <CreateInterface>true</CreateInterface>
    <CreateTestCode>false</CreateTestCode>
  </Observer>
  <State>
    <State></State>
    <Context></Context>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateState>false</CreateState>
    <CreateContext>false</CreateContext>
    <CreateInterface>false</CreateInterface>
  </State>
</Settings>
