<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <SelectedType>AbstractFactory</SelectedType>
  <RecentFolders/>
  <SelectedFolder></SelectedFolder>
  <AbstractFactory>
    <AbstractFactory></AbstractFactory>
    <ConcreteFactories>
      <Line></Line>
    </ConcreteFactories>
    <Products/>
  </AbstractFactory>
  <Class>
    <Name></Name>
    <BaseClass></BaseClass>
    <ConstructorDeclaration>1</ConstructorDeclaration>
    <DestructorDeclaration>1</DestructorDeclaration>
    <CopyConstructorDeclaration>0</CopyConstructorDeclaration>
    <CopyOperatorDeclaration>0</CopyOperatorDeclaration>
    <MoveConstructorDeclaration>0</MoveConstructorDeclaration>
    <MoveOperatorDeclaration>0</MoveOperatorDeclaration>
    <SingletonType>0</SingletonType>
    <DPointerType>0</DPointerType>
    <QObjectMacro>false</QObjectMacro>
    <VirtualDestructor>false</VirtualDestructor>
    <ExplicitConstructor>false</ExplicitConstructor>
    <Namespaces>
      <Line></Line>
    </Namespaces>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <Interfaces/>
    <Members/>
  </Class>
  <ConsoleApplication>
    <Name></Name>
  </ConsoleApplication>
  <Decorator>
    <Component></Component>
    <Decorator></Decorator>
    <Decorators>
      <Line></Line>
    </Decorators>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateComponent>false</CreateComponent>
    <CreateInterface>false</CreateInterface>
    <CreateDecorator>false</CreateDecorator>
  </Decorator>
  <Dll>
    <Name></Name>
  </Dll>
  <ExperimentElement>
    <ExperimentElementName></ExperimentElementName>
    <Catalog>
      <Selected>AFM</Selected>
    </Catalog>
  </ExperimentElement>
  <Generator>
    <Name></Name>
  </Generator>
  <Interface>
    <Name></Name>
    <Prefix>false</Prefix>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
  </Interface>
  <Namespace>
    <Name></Name>
  </Namespace>
  <Observer>
    <Subject></Subject>
    <Observer></Observer>
    <Observers>
      <Line></Line>
    </Observers>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateSubject>false</CreateSubject>
    <CreateObserver>false</CreateObserver>
    <CreateInterface>false</CreateInterface>
    <CreateTestCode>false</CreateTestCode>
  </Observer>
  <QtConsoleApplication>
    <Name></Name>
  </QtConsoleApplication>
  <QtDialog>
    <Name></Name>
  </QtDialog>
  <QtWidget>
    <Name></Name>
  </QtWidget>
  <QtWidgetDll>
    <Name></Name>
  </QtWidgetDll>
  <QtWidgetsApplication>
    <Name></Name>
    <CreateBuildDir>false</CreateBuildDir>
  </QtWidgetsApplication>
  <State>
    <State></State>
    <Context></Context>
    <Interface>
      <Name></Name>
      <ToImplement>true</ToImplement>
    </Interface>
    <CreateState>false</CreateState>
    <CreateContext>false</CreateContext>
    <CreateInterface>false</CreateInterface>
  </State>
</Settings>
